<div class="users edit">
    <h2>Update User</h2>

    <%= form_for(@user) do |f| %>

    <table summary="user form fields">
        <tr>
            <th>Name</th>
            <td><%= f.text_field(:username) %></td>
        </tr>
        <tr>
            <th>ID</th>
            <td><%= f.text_field(:id) %></td>
        </tr>
        <tr>
            <th>Email</th>
            <td><%= f.text_field(:email) %></td>
        </tr>
        <tr>
            <th>Bio</th>
            <td><%= f.text_field(:bio) %></td>
        </tr>
        <tr>
            <th>Firstname</th>
            <td><%= f.text_field(:first_name) %></td>
        </tr>
    </table>

    <div class="form-buttons">
        <%= f.submit("Update user") %>
    </div>

    <% end %>
</div>